.page-section {
    padding: 6rem 0;
}

.page-section .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
}

@media (min-width: 992px) {
    .page-section .page-section-heading {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
    color: #2c3e50;
    font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
    color: #fff;
}

.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 10rem;
}

.masthead .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
}

.masthead .masthead-subheading {
    font-size: 1.25rem;
}

@media (min-width: 992px) {
    .masthead {
        padding-top: calc(6rem + 104px);
    }

    .masthead .masthead-heading {
        font-size: 4rem;
        line-height: 3.5rem;
    }

    .masthead .masthead-subheading {
        font-size: 1.5rem;
    }
}

.masthead-avatar {
    border-radius: 50%;
    width: 15em;
    height: 15em;
    border: 5px solid white;
}

.about-text {
    font-size: 1.2rem;
    text-align: justify;
}

i[class^="devicon"] {
    display: block;
    color: white;
    font-size: 5rem;
    margin: 2vh auto 2vh auto;
    text-align: center;
}

i[class^="devicon"]:hover {
    color: #333333;
    font-size: 4rem;
}

i[class^="devicon"] span {
    display: block;
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: Raleway, sans-serif;
}

@media (max-width: 768px) {
    i[class^="devicon"] {
        font-size: 4.5rem;
    }

    i[class^="devicon"] > span {
        font-size: 0.7rem;
    }

    i[class^="devicon"]:hover {
        color: #333333;
        font-size: 3.5rem;
    }
}

.portfolio-project {
    height: 100%;
    background-clip: border-box;
    border: 0.125rem solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    position: relative;
}

.project-description {
    text-align: justify;
    padding-bottom: 0.5rem;
}

.project-technologies {
    position: absolute;
    bottom: 0.5rem;
}

.project-img {
    object-fit: cover;
    height: 17rem;
    border-bottom: 1px solid var(--bs-gray-300);
}

.effect-bubba {
    position: relative;
}

figure.effect-bubba img {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
    opacity: 0.4;
    filter: blur(1px);
    cursor: pointer;
}

.effect-bubba div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    background: gray;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: white;
    transition: visibility 0s, opacity 0.5s linear;
}

.effect-bubba :hover div {
    opacity: 1;
}
